@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Taller Final</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdi@6.0.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/vertical-layout-light/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/CRUD_Clientes.styles.css" asp-append-version="true" />

</head>

<body>
    <div class="container-scroller">

        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                </div>
                <div>
                    <a class="navbar-brand brand-logo" href="#">
                        <h4>Cuatro soles</h4>
                        <!-- <img src="../../images/logo.svg" alt="logo" /> -->
                    </a>
                    <a class="navbar-brand brand-logo" href="#">
                        <img src="~/images/whatsapp image 2023-09-02 at 7.36.34 pm.jpeg" />
                    </a>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="~/images/whatsapp image 2023-09-02 at 7.36.34 pm.jpeg" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">
                                <img class="img-md rounded-circle" src="#" alt="Profile image">
                                <p class="mb-1 mt-3 font-weight-semibold">Allen Moreno</p>
                                <p class="fw-light text-muted mb-0">allenmoreno@gmail.com</p>
                            </div>
                            <a class="dropdown-item">
                                <i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> Mi
                                Perfil<span class="badge badge-pill badge-danger">1</span>
                            </a>
                            <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Salir</a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>


        <div class="container-fluid page-body-wrapper">

            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="" aria-expanded="false"
                           aria-controls="dashboard">
                            <i class="menu-icon mdi mdi-chart-bar"></i>
                            <span class="menu-arrow">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Usuarios" asp-action="Index" aria-expanded="false" aria-controls="usuarios">
                            <i class="menu-icon mdi mdi-account-tie"></i>
                            <span class="menu-arrow">Usuarios</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" aria-expanded="false" href="#compras" aria-controls="compras">
                            <i class="menu-icon mdi mdi-cart"></i>
                            <span class="menu-title">Compras</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="compras">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Proveedores" asp-action="Index">Proveedores</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Insumos</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Compras" asp-action="Index">Compras</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Abonos</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#produccion" aria-expanded="false"
                           aria-controls="produccion">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Producción</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="produccion">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Empleadoes" asp-action="Index">Empleados</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Producción</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Rendimiento</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Jornada Laboral</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Reg. Producción</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#ventas" aria-expanded="false" aria-controls="ventas">
                            <i class="menu-icon mdi mdi-cash-register"></i>
                            <span class="menu-title">Ventas</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ventas">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Pedidos</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Ventas" asp-action="Index">Ventas</a></li>
                                <li class="nav-item"><a class="nav-link" href="">Abonos</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        <div class="container">
                            <main role="main" class="pb-3">
                                @RenderBody()
                            </main>
                        </div>

                        <footer class="border-top footer text-muted">
                            <div class="container">
                                &copy; 2023 - CRUD_Clientes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </div>
                        </footer>

                    </div>
                </div>
            </div>


        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - CRUD_Clientes</title>

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/offcanvas.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/CRUD_Clientes.styles.css" asp-append-version="true" />-->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body class="bg-light">
    <header>
        <!-- Encabezado de tu sitio web, si es necesario -->
    </header>

    <nav class="navbar navbar-expand-lg fixed-top bg-primary" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index"><b><h4>Countech</h4></b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Usuarios" asp-action="Index">
                          Usuarios
                        </a>
                        
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ventas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link" asp-area="" asp-controller="Ventas" asp-action="Index">Ventas</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Compras
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link " asp-area="" asp-controller="Proveedores" asp-action="Index">Proveedores</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="nav-link" asp-area="" asp-controller="Compras" asp-action="Index">Compras</a></li>
                        </ul>
                    </li>

                </ul>
                <form class="d-flex" role="search">
                    @*<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">*@
                    <button class="btn btn-light" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z" /></svg>
                            <b>Cerrar sesión</b>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            @*<a class="nav-link active" aria-current="page" href="#">Dashboard</a>
            <a class="nav-link" href="#">
                Friends
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
            </a>
            <a class="nav-link" href="#">Explore</a>
            <a class="nav-link" href="#">Suggestions</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>*@
        </nav>
    </div>

    <!-- Contenido principal generado por la aplicación -->
    <main class="container">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            
            @RenderBody()
            
        </div>
           
        
    </main>

    @*<footer class="border-top footer text-muted">
        <!-- Pie de página -->
        <div class="d-flex container">
            <a class="nav-link disabled" aria-disabled="true">© Countech 2023 - Políticas de privacidad</a>
        </div>
    </footer>*@
    

    <!-- JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    <script src="~/js/offcanvas.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>