@model taller_final_cruds.Models.Empleado

@{
    ViewData["Title"] = "Edit";
}

<h1 class="pb-2 mb-0 text-center">Editar</h1>

<h4 class="pb-2 mb-0 text-center">Empleado</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEmpleado" />
            <div class="form-group pt-2">
                <label class="control-label">Cédula</label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Nombre</label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Apellido</label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Valor/Hora</label>
                <input asp-for="ValorHora" class="form-control" />
                <span asp-validation-for="ValorHora" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Correo</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Télefono</label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Ciudad</label>
                <input asp-for="Ciudad" class="form-control" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Fecha ingreso</label>
                <input asp-for="FechaIngreso" class="form-control" />
                <span asp-validation-for="FechaIngreso" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Estado</label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="d-flex text-muted pt-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
        <small class="d-block text-end mt-3">
            <a asp-action="Index">Volver</a>
        </small>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
