@model taller_final_cruds.Models.Proveedore

@{
    ViewData["Title"] = "Create";
}

<h1 class="pb-2 mb-0 text-center">Crear</h1>

<h4 class="pb-2 mb-0 text-center">Proveedor</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group pt-2">
                <label class="control-label">Tipo de proveedor</label>
                <select asp-for="TipoProveedor" class="form-select form-control">
                    <option selected="true" disabled="disabled">Seleccionar tipo de proveedor</option>
                    <option value="Persona">Personal natural</option>
                    <option value="Empresa">Empresa</option>

                </select>
                <span asp-validation-for="TipoProveedor" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Tipo de identidad</label>
                <select asp-for="TipoIdentificacion" class="form-select form-control">
                    <option selected="true" disabled="disabled">Seleccionar tipo de identidad</option>
                    <option value="NIT">NIT</option>
                    <option value="Cedula de ciudadania">Cédula Ciudadania</option>
                    <option value="Cedula de extranjero">Cédula Extranjera</option>
                    <option value="Tarjeta de extranjero">Tarjeta Extranjera</option>
                    <option value="Tarjeta de identidad">Tarjeta de Identidad</option>
                </select>
                <span asp-validation-for="TipoIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Nro. de identidad</label>
                <input asp-for="NumeroIdentificacion" class="form-control" placeholder="Por favor ingresar un número de identidad" />
                <span asp-validation-for="NumeroIdentificacion" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Razón social</label>
                <input asp-for="RazonSocial" class="form-control" placeholder="Por favor ingresar una razón social" />
                <span asp-validation-for="RazonSocial" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Nombre comercial</label>
                <input asp-for="NombreComercial" class="form-control" placeholder="Por favor ingresar un nombre comercial" />
                <span asp-validation-for="NombreComercial" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Ciudad</label>
                <input asp-for="Ciudad" class="form-control" placeholder="Por favor ingresar una ciudad" />
                <span asp-validation-for="Ciudad" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Dirección</label>
                <input asp-for="Direccion" class="form-control" placeholder="Por favor ingresar una dirección" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Contacto</label>
                <input asp-for="Contacto" class="form-control" placeholder="Por favor ingresar un contacto" />
                <span asp-validation-for="Contacto" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Télefono</label>
                <input asp-for="Telefono" class="form-control" placeholder="Por favor ingresar un télefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label class="control-label">Correo</label>
                <input asp-for="Email" class="form-control" placeholder="Por favor ingresar un correo" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
        <small class="d-block text-end mt-3">
            <a asp-action="Index">Volver</a>
        </small>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
