@model taller_final_cruds.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1 class="pb-2 mb-0 text-center">Editar</h1>

<h4 class="pb-2 mb-0 text-center">Usuario</h4>
<hr />

<div class="row justify-content-center">
    <div class="col-md-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div class="form-group pt-2">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="d-flex text-muted pt-2">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>

        <small class="d-block text-end mt-3">
            <a asp-action="Index">Volver</a>
        </small>
    </div>
    
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
