@model taller_final_cruds.Models.Venta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Venta</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="">
        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="IdVenta" class="control-label"></label>
                <input asp-for="IdVenta" class="form-control" />
                <span asp-validation-for="IdVenta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Pedido" class="control-label"></label>
                <input asp-for="Pedido" class="form-control" />
                <span asp-validation-for="Pedido" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label asp-for="FechaVenta" class="control-label"></label>
                <input asp-for="FechaVenta" class="form-control" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="">Forma De Pago</label><br>
                <select name="FormaDePago" class="form-select form-control col-sm-12 ">
                    <option value="Crédito">Crédito</option>
                    <option value="Contado">Contado</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4">
                <label for="">Estado</label><br>
                <select name="Estado" class="form-select form-control col-sm-12 ">
                    <option value="Pago">Pago</option>
                    <option value="Pendiente">Pendiente</option>
                </select>
            </div>
        </div>



        <br><br>
            <div class="row justify-content-center">
                <div class="form-group col-sm-4">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                </div>

                <div class="col-sm-4">
                    <a class="btn btn-primary" asp-action="Index">Regresar </a>
                </div>

            </div>


           
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
